html,
body {
  height: 100%;
}

#loading{
    position: absolute;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
    height: 100px;
    width: 100px;
}
img{
    border-style: groove!important;
    border-width: thin;
    border-color: #f8f9fa;
    margin: 5px!important;
    max-width: 370px!important;
    max-height: auto!important;
}
@media (max-width: 768px) {
  img{
      max-width: calc(100vw - 50px);
  }
}