<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Configuration de la salle</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<h1>Configuration de la salle</h1>
			<form method="post" id="formSalle" action="/create">
				<div class="row">
					<div class="form-group col-md-3">
						<label for="nbrTas">Nombre de tas max</label>
						<input type="number" id="nbrTas" name="nbrTas" class="form-control" placeholder="Entrez un nombre de carte" value="7" required>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-3">
						<label>Selection du paquet</label>
						<select id="idPaquet" name="idPaquet" class="form-control">
							<% paquets.forEach( p => { %>
								<option value='<%=p["idPaquet"]%>'><%= p["paquetNom"]%> : <%= p["nomUser"] %></option>
							<% }); %>
						</select>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Soumettre</button>

			</form>
		</div>
	</body>
</html>