<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/home.css">

		<title>my site</title>
	</head>
	<body>

		<!-- Navigation -->
		<nav class="navbar navbar-dark bg-dark">
			<div class="container">
				<p class="navbar-brand">Page d'accueil</p>
			</div>
		</nav>

		<!-- Icons Grid -->
		<section class="text-center">
			<div class="container">
				<div class="row mt-5 d-flex justify-content-around">
					<% if(valAdmin == 1){ %>
					<div class="col-lg-4">
						<div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
							<div class="justify-content-center p-3 py-5 mb-2 bg-light">
								<a href="/createSpecUser">
									<svg class="bi bi-person-plus-fill" width="45%" height="45%" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
									<path fill-rule="evenodd" d="M13 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
								</svg>
								</a>
							</div>
							<h3>Ajouter un spectateur</h3>
							<p class="lead mb-0">Crée un nouveau compte spectateur, le compte peut avoir le rôle d'administrateur.</p>
						</div>
					</div>
					<% } %>
					<div class="col-lg-4">
						<div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
							<div class="justify-content-center p-3 py-5 mb-2 bg-light">
								<a href="/paquet">
									<svg class="bi bi-file-plus" width="45%" height="45%" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path d="M9 1H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V8h-1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h5V1z"></path>
										<path fill-rule="evenodd" d="M13.5 1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z"></path>
										<path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"></path>
									</svg>
								</a>
							</div>
							<h3>Créer un paquet de carte</h3>
							<p class="lead mb-0">Permet de créer un nouveau paquet de carte.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="mx-auto mb-0 mb-lg-3">
							<div class="justify-content-center p-3 py-5 mb-2 bg-light">
								<a href="/create">
									<svg class="bi bi-files" width="45%" height="45%" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" d="M3 2h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3z"/>
										<path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2v-1a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
									</svg>
								</a>
							</div>
							<h3>Lancer une session de jeu</h3>
							<p class="lead mb-0">Génère une salle avec un lien à envoyer au joueur.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>