<!DOCTYPE html>

<html>
    <head>
        <title>Jeu de carte-Login</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Entrez vos informations</h1>
        <form action="/login" method="post">
            <p>
                <label for="newName">(Connection en tant que Spectateur)</label>
                <input type="text" name="nameUser" id="nameUser" autofocus />
                <input type="text" name="password" id="password"/>
                <input type="submit" />
            </p>
        </form>
        <% if(error == 1) { %>
            <p> identifiants incorrectes ! </p> 
        <% } %>
        <form action="/loginJ" method="post">
            <p>
                <label for="newName">(Connection en tant que Spectateur)</label>
                <input type="text" name="nameUserJ" id="nameUserJ"/>
                <input type="submit" />
            </p>
        </form>

    </body>
</html>