html, body{
	display: flex;
	margin: 0;
	height: auto;
	width: 100%;
}



#main{
	border-color: red;
	width: inherit;
	background-color: #E1E2C3;
}

#sidebar {
	overflow: auto;
	flex-basis: 25%;
	background-color: #E1E2C3;
}

li{
	height: 100%;
}

/*
#sidebar li {
	list-style-type: none;
	margin: 0 0 20px 0;
	border-bottom: 1px solid #000;

}

ul{
	height: 100%;
	padding: 0 0 0 10px;
	padding-left: 0;
}
*/
#header h1 {
	text-align: center;
	background-color: #FEFFD0;
	margin-bottom: 0;
	padding-bottom: 8px;
}

#contenuImg{
	width: 100%;
	border-color: blue;
	display: flex;
	flex-wrap: wrap;
}

#contenuImg > div {
  background-color: #f1f1f1;
  width: 300px;
  height: 300px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}